/* Global Styles */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Chivo');

*
{
  font-family : "Chivo", Arial !important;
  cursor: url('./assets/wand_cursor.png'), auto !important;
}

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #333;
  font-family: Cambria, Georgia;
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-tooltip
{
  font-size: x-large !important;
}

header
{
  padding-top: 2%;
  padding-left: 2%;
  min-height: 7em;
  height: 12%;
  background-color:white;
}

header h1
{
  margin-top: 0;
  color : black;
  font-size: xx-large !important; 
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content
{
  padding: 0% !important;
}

.mat-button-toggle-label-content
{
  display: block !important;
}

.mat-tooltip
{
  font-size: 1vw !important;
  max-width : 12vw !important;
  margin-top: 4% !important;
  padding: 3% !important;

}

.channel-button
{
  line-height: 0px !important;
}